/* Propriedades Slider */
.slider-container {
  display: flex;
}

.slides {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
}

/* ------------------------------ */
/* Propriedades Controles */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls .previous {
  position: absolute;
  left: 50px;
  height: 30%;
  background-color: aqua;
  background-color: transparent;
  border: none;
}

.controls .next {
  position: absolute;
  right: 50px;
  height: 30%;
  background-color: transparent;
  border: none;
}

/* ------------------------------ */
