/* Propriedades Margem dos Botoes de apagar role e alterar data*/
.margem {
  margin-left: 10px;
  margin-right: 10px;
}

/* ------------------------------ */
/* Propriedades Estrelas */
ngb-rating {
  color: #FFC107;
  font-size: 35px;
}

/* ------------------------------ */
/* Propriedades Exibir imagem cortada no mobile */
.objectImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

/* ------------------------------ */
/* Propriedades Inputs */
mat-form-field {
  font-size: 12px;
}

/* ------------------------------ */
/* Propriedades Descricao e comentario */
p {
  font-size: 14px;
}

/* ------------------------------ */
/* Propriedades Responsividade */
@media (max-width: 768px) {
  .margem {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 650px) {
    .margem {
      margin-left: 10px;
      margin-right: 10px;
    }
}

/* ------------------------------ */
