/* Propriedades Slider */
[appSliderItem] {
  flex-shrink: 0;
}

/* ------------------------------ */
/* Propriedades Cards Eventos */
.example-card {
  margin-right: 10px;
  border-radius: 10px;

  width: 225px;
  height: 300px;
  background-size:cover;
}

h5 {
  color: white;
  font-weight: 900;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

a {
  cursor: pointer;
}

/* ------------------------------ */
