<div class="container-fluid">
  <span *ngIf="lugares?.length > 0">
    <app-categorias categoria="Restaurantes" [lugares]="restaurantes"></app-categorias>
    <app-categorias categoria="Bares" [lugares]="bares"></app-categorias>
    <app-categorias categoria="Cafeterias" [lugares]="cafeterias"></app-categorias>
    <app-categorias categoria="Viagens" [lugares]="viagens"></app-categorias>
    <app-categorias categoria="Eventos" [lugares]="eventos"></app-categorias>
    <app-categorias categoria="Outros" [lugares]="outros"></app-categorias>
  </span>
  <span *ngIf="lugares?.length === 0">
    <div class="row">
      <span class="text-center max">Nenhum Role Marcado</span>
    </div>
  </span>

  <div class="fab">
    <button (click)="route()" mat-fab aria-label="Example icon button with a home icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
