/* Propriedades Botão para Criar eventos */
.fab button{
  position: fixed;
  bottom:10px;
  right:10px;
  background-color: rgba(183, 28, 28,.50);
}

.fab button:hover{
  background-color: rgba(183, 28, 28);
}

/* ------------------------------ */
.max {
  margin-top: 130px;
  color: #000;
  font-size: 16px;
  font-weight: 900;
}
