<div class="container-fluid">
  <app-categorias categoria="Restaurantes"></app-categorias>
  <app-categorias categoria="Bares"></app-categorias>
  <app-categorias categoria="Cafeterias"></app-categorias>
  <app-categorias categoria="Viagens"></app-categorias>
  <app-categorias categoria="Eventos"></app-categorias>
  <app-categorias categoria="Outros"></app-categorias>


  <div class="fab">
    <button (click)="route()" mat-fab aria-label="Example icon button with a home icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
