/* Propriedades Fontes */
.max {
  font-size: 16px;
}

.min {
  font-size: 12px;
}
/* ------------------------------ */
/* Propriedades Botoes */
.buttons button {
  margin-right: 10px;
}

/* ------------------------------ */
/* Propriedades Inputs */
mat-form-field {
  font-size: 12px;
}

mat-radio-button {
  font-size: 14px;
}

/* ------------------------------ */
