/* Propriedades Fontes */
.max {
  font-size: 18px;
}

.min {
  font-size: 12px;
}
/* ------------------------------ */
/* Propriedades Botoes */
.buttons button {
  margin-right: 10px;
}

/* ------------------------------ */
